*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border:0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.page-container{
	width: 100vw;
	height: 100vh;
	background-color: blue;
}
.grid-box{
	width: 100vw;
	height: 100vh;
	background-color: yellow;
	display: grid;
	grid-gap: 0px;
	grid-template-columns:0 100vw;
	grid-template-rows:0 100vh 0;
}
.copy{
	position: relative;
	padding-bottom: 20vh;
	left: 20vw;
	width: 60vw;
	top: 10vh;
	line-height: 2;
	text-indent: 0px;
}
.copy h1, h2, h3{
	padding-top: 20px;
	text-indent: 0px;
	font-weight: 700;
}
.copy p，ul{
	font-size: 18px;
}
.text-pic-big{
	width: 100%;
}
.part-text{
	position: relative;
	padding-top: 30px;
}
#bigredbox1{
	position: fixed;
	top: 30vh;
	right: 20vw;
	height: 40vh;
	width: 80vw;
	background-color: #ee2222;
	z-index: 0;
	opacity: 0.8;
}
#bigredbox2{
	position: fixed;
	top: 30vh;
	right:20vw;
	height: 40vh;
	width: 80vw;
	background-color: #dd1100;
	z-index: 10;
	opacity: 0.2;
}
#topbar{
	grid-area: 1/2/2/3;
	background-color: #CDCDCD;
}
#sidebar{
	grid-area: 1/1/4/2;
	background-color: #DEDEDE;
}
#main-text{
	grid-area: 2/2/3/3;
	background-color: #FFF;
	overflow: scroll;

}
#date{
	position: relative;
	top: 50px;
	font-size: 14px;
	font-weight: 300;
	color: #999999;
}
#footer{
	grid-area: 3/2/4/3;
	background-color: #BBBBBB;
}